USE [BDD_B3I_groupe_5]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADMIN](
	[LOGIN_ADMIN] [varchar](25) NOT NULL,
	[MDP_ADMIN] [varchar](25) NOT NULL,
	[ADR_MAIL_ADMIN] [varchar](50) NOT NULL,
	[NB_QUIZ_CREE] [int] NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY NONCLUSTERED 
(
	[LOGIN_ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JOUER](
	[ID_PARTIE] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_USR] [varchar](25) NOT NULL,
	[ID_QUIZ] [int] NOT NULL,
	[SCORE_USR_QUIZ] [int] NOT NULL,
	[HEURE_USR_QUIZ] [int] NOT NULL,
	[MINUTE_USR_QUIZ] [int] NOT NULL,
	[SECONDE_USR_QUIZ] [int] NOT NULL,
 CONSTRAINT [PK_JOUER] PRIMARY KEY CLUSTERED 
(
	[ID_PARTIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUESTION](
	[ID_QUESTION] [int] IDENTITY(1,1) NOT NULL,
	[ID_QUIZ] [int] NOT NULL,
	[NB_REP_TOTAL] [smallint] NOT NULL,
	[NB_REP_JUSTE] [smallint] NOT NULL,
	[TEXT_QUEST] [varchar](255) NOT NULL,
	[IMG_QUEST] [varchar](255) NULL,
 CONSTRAINT [PK_QUESTION] PRIMARY KEY NONCLUSTERED 
(
	[ID_QUESTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QUIZ](
	[ID_QUIZ] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_ADMIN] [varchar](25) NOT NULL,
	[DIFFICULTE_QUIZ] [smallint] NOT NULL,
	[NOM_QUIZ] [varchar](100) NOT NULL,
	[CATEGORIE_QUIZ] [varchar](30) NULL,
	[MINUTE_QUIZ] [varchar](2) NOT NULL,
	[SECONDE_QUIZ] [varchar](2) NOT NULL,
	[HEURE_QUIZ] [varchar](2) NOT NULL,
	[NB_QUESTION] [smallint] NOT NULL,
 CONSTRAINT [PK_QUIZ] PRIMARY KEY NONCLUSTERED 
(
	[ID_QUIZ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [REPONSE](
	[ID_REP] [int] IDENTITY(1,1) NOT NULL,
	[ID_QUESTION] [int] NOT NULL,
	[TEXT_REP] [varchar](255) NOT NULL,
	[IMG_REP] [varchar](255) NULL,
	[STATUT_REP] [bit] NOT NULL,
	[ID_QUIZ] [int] NOT NULL,
 CONSTRAINT [PK_REPONSE] PRIMARY KEY NONCLUSTERED 
(
	[ID_REP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UTILISATEUR](
	[LOGIN_USR] [varchar](25) NOT NULL,
	[MDP_USR] [varchar](25) NOT NULL,
	[ADR_MAIL_USR] [varchar](50) NOT NULL,
	[NB_QUIZ_JOUE] [int] NOT NULL,
	[NB_PARTIE_JOUE] [int] NOT NULL,
 CONSTRAINT [PK_UTILISATEUR] PRIMARY KEY NONCLUSTERED 
(
	[LOGIN_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [JOUER]  WITH CHECK ADD  CONSTRAINT [FK_ID_QUIZ2] FOREIGN KEY([ID_QUIZ])
REFERENCES [QUIZ] ([ID_QUIZ])
GO
ALTER TABLE [JOUER] CHECK CONSTRAINT [FK_ID_QUIZ2]
GO
ALTER TABLE [JOUER]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_USR] FOREIGN KEY([LOGIN_USR])
REFERENCES [UTILISATEUR] ([LOGIN_USR])
GO
ALTER TABLE [JOUER] CHECK CONSTRAINT [FK_LOGIN_USR]
GO
ALTER TABLE [QUESTION]  WITH CHECK ADD  CONSTRAINT [fk_idquiz] FOREIGN KEY([ID_QUIZ])
REFERENCES [QUIZ] ([ID_QUIZ])
GO
ALTER TABLE [QUESTION] CHECK CONSTRAINT [fk_idquiz]
GO
ALTER TABLE [REPONSE]  WITH CHECK ADD  CONSTRAINT [fk_id_quiz] FOREIGN KEY([ID_QUIZ])
REFERENCES [QUIZ] ([ID_QUIZ])
GO
ALTER TABLE [REPONSE] CHECK CONSTRAINT [fk_id_quiz]
GO
